extends ./layout.jade

block content
  | !{app}
  script
    | window.STORE = !{store}
  if config.env == 'production'
    script(src='/bundle.#{manifest.hash}.js')
  else
    script(src='http://#{config.connections.webpack.host}:#{config.connections.webpack.port}/bundle.js')
  